* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.field {
    border: 3px solid;
    border-radius: 8px;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.menu {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0;
    display: inline-block;
    border-radius: 8px 8px 8px 8px;
    padding: 1em;
}

.field input[type='text'],
fieldset input[type='password'],
fieldset input[type='email'] {
    width: 250px;
    display: inline-block;
}

.field input[type="submit"] {
    margin-top: 1em;
}

.container {
    margin-top: 0.5em;
    width: 450px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.field label {
    width: 160px;
    display: inline-block;
    text-align: left;
}

.containtall {
    text-align: center;
}