# Suivre les liens symboliques
Options +FollowSymLinks

#Activation du module "rewrite" d'Apache
RewriteEngine On


RewriteRule ^index$ index.php [L]

#Réécriture des URL avec parametres
RewriteRule ^([a-z0-9\-]+)$ index.php?page=$1 [L]

#Réécriture des URL avec parametres
RewriteRule ^([a-z0-9\-]+)-([0-9]+)$ index.php?page=$1&id=$2 [L]

#RewriteRule ^(.*)$ index.php?page=$1
